.section-center{
  width: 40vw;
  height: fit-content;
  margin: 30px auto;
  border: 2px solid gray;
  box-shadow: 2px 2px 3px lightgray;
  text-align: center;
  padding: 20px;
}
.grocery-from h1{
  /* overflow-y: ;   */
  width: fit-content;
  padding: 13px;
  margin: 10px auto;
  border-radius: 23px;
  color: white;
  background-color: rgb(33, 36, 37);
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
}
.form-control{
  display: flex;
  justify-content: center;

}
.grocery-input{
  border: 2px solid lightgray;
  box-shadow: 1px 1px gray;
  font-size: 20px;
  width: 150px;
  margin: 0px 10px;
  text-decoration: none;
}
.sub-btn{
  border: none;
  color: white;
  font-weight: 500;
  background-color: rgb(75, 163, 221);
  }
  .clear-btn{
    height: 30px;
border-radius: 23px;
    margin: 20px 0px 0px 0px;
    color: white;
    background-color:rgb(75, 163, 221) ;
  }